.aboutpage {
  background-image: linear-gradient(rgba(166, 189, 202, 0), #1d142728, #0e0b13),
    url("https://images.pling.com/img/00/00/58/85/50/1708012/nature-minimalist-style-171.jpg");
  // https://rare-gallery.com/mocahbig/391762-morning-scenery-minimalist-digital-art-4k-pc-wallpaper.jpg
  // https://wallpaperaccess.com/full/1216331.jpg
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  text-align: center;
  padding: 20px;
  animation: fadeIn 1s ease-in-out forwards;
  height: 67em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    position: relative;
    bottom: 16em;
  }

  h1 {
    color: rgb(175, 201, 5);
    text-align: center;
    font-size: 50px;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 17px;
    padding: 5px 30px;
    border-bottom: 2px solid black;
  }
  p {
    text-align: center;
    font-size: 21px;
    color: rgb(218, 237, 97);
    opacity: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    animation: slideIn 1s ease-in-out forwards;
    margin: 0 auto; /* Add this line to center the text horizontally */
    max-width: 700px;
    padding: 20px; /* Add padding to create space around the text */
    background-color: #5b98d611; /* Add a semi-transparent background color */
    border-radius: 5px; /* Add rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 945px) {
  .aboutpage {
    p {
      font-size: 16px;
    }
    h4 {
      font-size: 14px;
    }
  }
}
@media only screen and (min-width: 1800px) {
  .aboutpage {
    height: 70em;
  }
}
