.sections {
  position: relative;
}

#projects {
  margin-top: 8em;
  text-align: center;
  .projecttitle {
    display: inline-block;
    margin-top: 20px;
    font-size: 50px;
    margin-bottom: 40px;
    padding: 10px 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
}

.projcontact {
  background-image: linear-gradient(
      rgb(254, 253, 253),
      rgba(104, 178, 205, 0.755),
      rgba(90, 111, 132, 0)
    ),
    linear-gradient(#fdfdfd, rgba(0, 0, 0, 0)),
    url("https://wallpaper.dog/large/20492307.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage {
  height: 20em;
}
