#projects {
  text-align: center;
  .projecttitle {
    display: inline-block;
    margin-top: 22px;
    position: relative;
    top: 2.5em;
    color: rgb(175, 201, 5);
    font-size: 50px;
    padding: 10px 40px;
    border-bottom: 2px solid rgb(99, 146, 185);
  }
}

.projectsinterests {
  background-image: linear-gradient(rgba(0, 0, 0, 0.002) 90%, #032153eb),
    linear-gradient(#031a2a 10%, rgba(0, 0, 0, 0)),
    url("https://wallpaper.dog/large/20492307.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage {
  height: 20em;
}
.sections {
  background-color: black;
}

@media only screen and (max-width: 945px) {
  #projects {
    text-align: center;
    .projecttitle {
      top: 3.2em;
    }
  }
}

* {
  font-family: "Kalam", sans-serif;
}
