.interestspage {
  height: 85em;
  display: flex;
  margin-top: 15em;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;
    margin-bottom: 1.5em;
    color: rgb(175, 201, 5);
    padding: 10px 30px;
    border-bottom: 2px solid black;
  }
}

.listinterests {
  display: flex;
  justify-content: center;
  margin-bottom: 6em;
  h2 {
    font-weight: bold;
    color: white;
  }
  p {
    color: white;
    width: 650px;
    font-size: 20px;
  }
  img {
    width: 15em;
    height: 15em;
    margin-right: 20px;
  }
}

.listInterestsContainer {
  display: flex;
  align-items: center;
}

.titledescription {
  margin-left: 30px;
}

@media only screen and (max-width: 945px) {
  .listInterestsContainer {
    flex-direction: column;
    text-align: center;
  }
  .interestspage {
    margin-top: 10em;
    position: relative;
    top: 4em;
  }
  h1 {
    position: relative;
    top: 30px;
  }
  .titledescription {
    margin-left: 0px;
  }
  .listinterests {
    h2 {
      font-weight: bold;
      color: white;
      position: relative;
    }
    p {
      color: white;
      width: 400px;
      font-size: 15px;
    }
    img {
      margin: auto;
      margin-bottom: 12px;
      width: 6em;
      height: 6em;
    }
  }
}
