.projectspage {
  display: flex;
  position: relative;
  top: 7em;
  margin: 50px;
  justify-content: center;
}

.carousel.slide {
  background-color: rgb(48, 47, 42);
  border: 9px solid black;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.3s ease, border-color 0.8s ease;
  img {
    max-height: 61vh;
  }
}

.carousel.slide:hover {
  border-color: rgb(103, 103, 103);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

.carousel-inner {
  height: auto !important;
  width: 58em !important;
}

.carousel-indicators {
  //   margin-bottom: 20em !important;
  position: absolute;
  height: 10px;
  top: 26.8em !important;
}

.carousel-indicators button {
  background-color: #ff4500 !important; /* Set the inactive indicator color */
}

.details {
  margin-bottom: 20px;
  padding: 10px;
  height: 17em;
  font-size: 17px;
}

.titlelink {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  align-items: start;
  flex-direction: column;

  h1 {
    border-bottom: 1px solid black;
  }

  span a {
    display: inline-block;
    margin-left: 4px;
    text-decoration: none;
  }

  span a:hover {
    text-decoration: underline;
  }
  span a:active {
    // transform: scale(0.95) !important;
    color: rgb(23, 159, 238);
  }
  p {
    color: rgb(14, 81, 168);
    font-weight: bold;
    margin-top: 5px;
  }
}

.btn {
  position: absolute;
  top: 25.4em;
  left: 50%;
  width: 8em;
  border-radius: 20px !important;
  background-color: #642c0b98 !important;
  /* background-color: #e25e5eb7 !important; */
  transform: translate(-50%, -50%);
  color: rgb(222, 200, 38) !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.btn:hover {
  background-color: #28669d !important;
}

.btn:active {
  background-color: hsl(216, 91%, 35%) !important;
}

@media only screen and (max-width: 945px) {
  .carousel-inner {
    width: 29em !important;
  }
  .titlelink {
    font-size: 12.5px;
    h1 {
      font-size: 28px;
    }
  }
  .details p {
    margin-bottom: 7px;
    font-size: 12.5px;
  }
  .carousel.slide:hover {
    transform: none;
  }
  .carousel.slide {
    top: 3.6em;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    top: 8em !important;
  }
  .btn {
    top: 17.5em;
    font-size: 12px !important;
  }
  .carousel-indicators {
    top: 14.8em !important;
  }
  .carousel.slide img {
    height: 16em;
  }
}
@media only screen and (min-width: 1800px) {
  .carousel-inner {
    width: 100em !important;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    top: 23em !important;
  }
  .btn {
    top: 42.5em;
  }
  .carousel-indicators {
    //   margin-bottom: 20em !important;
    top: 45em !important;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  position: absolute;
  top: 15em;
}
