.projectspage {
  display: flex;
  position: relative;
  top: 7em;
  justify-content: center;
}

.carousel.slide {
  background-color: rgb(48, 47, 42);
  border: 9px solid black;
  border-radius: 12px;
  margin: 50px 0 80px 0 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.3s ease, border-color 0.8s ease;

  img {
    height: 65vh;
  }
}

.carousel.slide:hover {
  border-color: rgb(103, 103, 103);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

.carousel-inner {
  height: auto !important;
  width: 64em !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(245, 32, 9) !important;
  padding: 30px 23px 20px 20px; /* Adjust the height as needed */
  border-radius: 20%; /* Apply border radius for a rounded shape */
}

.carousel-indicators {
  //   margin-bottom: 20em !important;
  position: absolute;
  height: 10px;
  top: 26.8em !important;
}

.carousel-indicators button {
  background-color: #ff4500 !important; /* Set the inactive indicator color */
}

.details {
  margin-bottom: 6em;
  padding: 10px;
  height: 17em;
  font-size: 20px;
}

.titlelink {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  align-items: start;
  flex-direction: column;

  h1 {
    border-bottom: 1px solid black;
    font-size: 37px;
  }
  // span {
  //   display: flex;
  //   flex-direction: column;
  // }
  span a {
    display: inline-block;
    margin-left: 4px;
    text-decoration: none;
  }
  .heading {
    display: flex;
    flex-direction: row;

    a {
      margin-left: 20px;
      position: relative;
      bottom: 4px;
    }
  }
  span a {
    font-size: 21px;
    margin-top: 8px;

    svg {
      bottom: 3px;
      position: relative;
      right: 4px;
    }
  }
  span a:hover {
    text-decoration: underline;
  }
  span a:active {
    // transform: scale(0.95) !important;
    color: rgb(23, 159, 238);
  }
}
.technologies {
  margin-top: 10px;
  span {
    margin-left: 6px;
    color: rgb(8, 98, 209);
  }
}
.btn {
  position: absolute;
  top: 20.1em;
  left: 50%;
  width: 8em;
  border-radius: 20px !important;
  background-color: #642c0b !important;
  /* background-color: #e25e5eb7 !important; */
  transform: translate(-50%, -50%);
  color: rgb(222, 200, 38) !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

.btn:hover {
  background-color: #28669d !important;
}

.btn:active {
  background-color: #163855 !important;
}

@media only screen and (max-width: 945px) {
  .carousel-inner {
    width: 29em !important;
  }

  span a {
    font-size: 18px !important;
    margin-top: 8px;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    padding: 20px 0 18px 0 !important;
  }
  .titlelink {
    font-size: 16px;
    h1 {
      font-size: 28px;
      position: relative;
      top: 0px !important;
    }
  }
  .details {
    margin-bottom: 12em;
    p {
      margin-top: 10px;
      margin-bottom: 2px;
      font-size: 16px;
    }
  }
  .projectspage {
    top: 2em;
  }
  .carousel.slide:hover {
    transform: none;
  }
  .carousel.slide {
    top: 3.6em;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    top: 8em !important;
    padding: 20px;
  }
  .btn {
    top: 16.4em;
    font-size: 14.5px !important;
  }
  .carousel-indicators {
    top: 15.86em !important;
  }
  .carousel.slide img {
    height: 18em;
  }
}
@media only screen and (min-width: 1800px) {
  .carousel.slide {
    img {
      height: 37em;
    }
  }
  .projectspage {
    margin-top: 8em !important;
    top: 0em !important;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    top: 16em !important;
  }
  .btn {
    top: 25em;
  }
  .carousel-indicators {
    //   margin-bottom: 20em !important;
    top: 33.4em !important;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  position: absolute;
  top: 15em;
}
